@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* Reset */
* {
  box-sizing: border-box;
}

/* Tags */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f8fc;
  color: #141c2c;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  color: #2762eb;
  text-decoration: none;
}

/* Utility Classes */
.container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 3px;
  border: 20px solid #dce7ff;
  box-shadow: 0 4px 5px rbga(0, 0, 0, 0.1);
  width: 1000px;
  max-width: 100%;
}

/* Sign-In Form */
form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ecf2ff;
  padding: 40px;
}

.form-control {
  width: 100%;
  margin: 10px 0;
}

.form-control label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
}

input:not([type="checkbox"]) {
  background-color: transparent;
  border: 2x solid #ecf2ff;
  border-radius: 3px;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  margin-bottom: 15px;
}

.checkbox-container label {
  color: #7a7e8c;
  font-weight: normal;
}

.checkbox-container a {
  margin-left: auto;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141c2c;
  color: #fff;
  border: 2px solid #141c2c;
  border-radius: 2px;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  margin: 20px 0;
  width: 100%;
}

.btn-ghost {
  background-color: transparent;
  border-color: #ecf2ff;
  color: #141c2c;
}

.btn img {
  margin-right: 5px;
  width: 20px;
}

/* Features */
.features {
  flex: 1.5;

  padding: 40px;
}

.feature {
  position: relative;
  margin: 40px 0;
  padding-left: 30px;
}

.feature i {
  color: #2762eb;
  position: absolute;
  top: 5px;
  left: 0;
}

.feature h3 {
  margin: 0;
}

.feature p {
  font-size: 14px;
  line-height: 1.8;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .form {
    border-right: 0;
  }
}
